github_data_copy_website_PipelineCode.json
{
  "name": "PL_Ingest_HTTP_Data",
  "properties": {
      "activities": [
          {
              "name": "Lookup For All files Info",
              "type": "Lookup",
              "dependsOn": [],
              "policy": {
                  "timeout": "0.12:00:00",
                  "retry": 0,
                  "retryIntervalInSeconds": 30,
                  "secureOutput": false,
                  "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                  "source": {
                      "type": "JsonSource",
                      "storeSettings": {
                          "type": "AzureBlobStorageReadSettings",
                          "recursive": true,
                          "enablePartitionDiscovery": false
                      },
                      "formatSettings": {
                          "type": "JsonReadSettings"
                      }
                  },
                  "dataset": {
                      "referenceName": "dataset_lookup_json_file",
                      "type": "DatasetReference"
                  },
                  "firstRowOnly": false
              }
          },
          {
              "name": "Getting Each File Details",
              "type": "ForEach",
              "dependsOn": [
                  {
                      "activity": "Lookup For All files Info",
                      "dependencyConditions": [
                          "Succeeded"
                      ]
                  }
              ],
              "userProperties": [],
              "typeProperties": {
                  "items": {
                      "value": "@activity('Lookup For All files Info').output.value",
                      "type": "Expression"
                  },
                  "isSequential": true,
                  "activities": [
                      {
                          "name": "Copy ECDC data from Github to ADLS Container",
                          "type": "Copy",
                          "dependsOn": [],
                          "policy": {
                              "timeout": "0.12:00:00",
                              "retry": 0,
                              "retryIntervalInSeconds": 30,
                              "secureOutput": false,
                              "secureInput": false
                          },
                          "userProperties": [],
                          "typeProperties": {
                              "source": {
                                  "type": "DelimitedTextSource",
                                  "storeSettings": {
                                      "type": "HttpReadSettings",
                                      "requestMethod": "GET"
                                  },
                                  "formatSettings": {
                                      "type": "DelimitedTextReadSettings"
                                  }
                              },
                              "sink": {
                                  "type": "DelimitedTextSink",
                                  "storeSettings": {
                                      "type": "AzureBlobFSWriteSettings"
                                  },
                                  "formatSettings": {
                                      "type": "DelimitedTextWriteSettings",
                                      "quoteAllText": true,
                                      "fileExtension": ".txt"
                                  }
                              },
                              "enableStaging": false,
                              "translator": {
                                  "type": "TabularTranslator",
                                  "typeConversion": true,
                                  "typeConversionSettings": {
                                      "allowDataTruncation": true,
                                      "treatBooleanAsNumber": false
                                  }
                              }
                          },
                          "inputs": [
                              {
                                  "referenceName": "ds_http_github_source",
                                  "type": "DatasetReference",
                                  "parameters": {
                                      "sourceBaseURL": {
                                          "value": "@item().sourceBaseURL",
                                          "type": "Expression"
                                      },
                                      "sourceRelativeURL": {
                                          "value": "@item().sourceRelativeURL",
                                          "type": "Expression"
                                      }
                                  }
                              }
                          ],
                          "outputs": [
                              {
                                  "referenceName": "sink_github_files_dataset",
                                  "type": "DatasetReference",
                                  "parameters": {
                                      "sinkFileName": {
                                          "value": "@item().sinkFileName",
                                          "type": "Expression"
                                      }
                                  }
                              }
                          ]
                      }
                  ]
              }
          }
      ],
      "variables": {
          "x": {
              "type": "String"
          }
      },
      "annotations": [],
      "lastPublishTime": "2024-01-16T13:15:54Z"
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}